body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #cdcdcd;
}

.header {
  height: 50px;
  background: #333;
}

.header .box,
.content {
  width: 600px;
  padding: 0 10px;
  margin: 0 auto;
}

label {
  float: left;
  width: 100px;
  line-height: 50px;
  color: #ddd;
  font-size: 24px;

  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header input {
  float: left;
  margin-left: 3%;
  width: 30%;
  height: 24px;
  margin-top: 12px;
  text-indent: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24),
    0 1px 6px rgba(0, 0, 0, 0.45) inset;
  border: none;
}
.header button {
  float: left;
  margin-left: 5%;
  width: 10%;
  height: 24px;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24),
    0 1px 6px rgba(0, 0, 0, 0.45) inset;
  border: none;
}
input:focus {
  outline-width: 0;
}
h2 {
  position: relative;
}

span {
  position: absolute;
  top: 2px;
  right: 5px;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  border-radius: 20px;
  background: #e6e6fa;
  line-height: 22px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
/*清除ol和ul标签的默认样式*/
ol,
ul {
  padding: 0;
  list-style: none;
}

li {
  height: 32px;
  line-height: 32px;
  background: #fff;
  position: relative;
  margin-bottom: 10px;
  padding: 0 45px;
  border-radius: 3px;
  border-left: 10px solid #629a9c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
/*任务单选框*/
.checkbox {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
/*任务内容*/
/* div{
    width:50%;
    margin: 0;
 } */
.Date {
  float: right;
  width: 30%;
  position: absolute;
  top: 2px;
  right: 10px;
  width: 300px;
  height: 22px;
  cursor: pointer;
}

.Time {
  float: right;
  width: 30%;
  position: absolute;
  top: 2px;
  right: 50px;
  width: 100px;
  height: 22px;
  cursor: pointer;
}

/*任务内容的文本输入框，用来修改里面的内容*/
li div input {
  top: 3px;
  left: 40px;
  width: 40%;
  height: 20px;
  line-height: 14px;
  text-indent: 5px;
  font-size: 18px;
}

ul li {
  border-left: 10px solid #999;
  /*不透明度 0完全透明~1完全不透明*/
  background-color: rgb(209, 247, 151);
}
/*勾选按钮*/
li a {
  position: absolute;
  top: 2px;
  right: 5px;
  display: inline-block;
  width: 14px;
  height: 12px;
  border-radius: 14px;
  border: 6px double #fff;
  background: #ccc;
  line-height: 14px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.repeat {
  position: absolute;
  top: 2px;
  right: 50px;
  display: inline-block;

  max-width: 80%;
  max-height: 80%;
}
.delete {
  position: absolute;
  top: 2px;
  right: 15px;
  display: inline-block;

  max-width: 80%;
  max-height: 80%;
}

.footer {
  color: #666;
  font-size: 14px;
  text-align: center;
}

.footer a {
  /*color: #666;*/
  text-decoration: none;
  color: #999;
}
.content.batch {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
}

.content.running {
  width: 20%;
}

.batch {
  width: 20%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 0.6rem;
  line-height: 0.6rem;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.batch {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.content button:active {
  background-color: rgba(255, 255, 255, 0.3);
}
body {
  margin: 0;
}
.lame-card-list-tb .right_menu {
  transition: 0.5s;
}
.lame-card-list-tb .slide-menu {
  background-color: red;
  color: #fff;
  margin-right: -5.625rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 0.875rem;
}
.lame-card-list-tb .lame-card-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.lame-card-list-tb .lame-card-item .left {
  width: 30%;
  display: flex;
  justify-content: center;
}
.lame-card-list-tb .lame-card-item .left img {
  width: 90%;
}
.lame-card-list-tb .lame-card-item .right {
  flex: 1;
}
.lame-card-list-tb .lame-card-item .right div,
.lame-card-list-tb .lame-card-item .right span {
  margin-bottom: 5px;
}
.lame-card-list-tb .lame-card-item .right .right_title {
  color: #333;
  font-size: 0.875rem;
  font-weight: bold;
}
.lame-card-list-tb .lame-card-item .right .right_desc {
  color: #999;
  font-size: 0.75rem;
}
.lame-card-list-tb .lame-card-item .right .right_size {
  color: #999;
  font-size: 0.75rem;
}
.lame-card-list-tb .lame-card-item .right .right_tag_list .tag_item {
  font-size: 0.75rem;
  color: #ff5e28;
  border: 1px solid #ff5e28;
  padding: 0 0.3125rem;
  border-radius: 0.25rem;
}
.lame-card-list-tb .lame-card-item .right .right_content .content_price {
  color: #ff5e28;
}
.lame-card-list-tb
  .lame-card-item
  .right
  .right_content
  .content_price
  .price_unit {
  font-size: 0.75rem;
}
.lame-card-list-tb
  .lame-card-item
  .right
  .right_content
  .content_price
  .price_num {
  font-size: 1rem;
}
.lame-card-list-tb .lame-card-item .right .right_content .content_sale {
  color: #999;
  font-size: 0.75rem;
  margin-left: 0.3125rem;
}

@media (prefers-color-scheme: light) {
}
